table {
  width: 100%;
  table-layout: fixed;
  margin-top: 20px;
  margin-bottom: 20px;
  border-collapse: collapse;

  th {
    color: #777;
  }

  th,
  td {
    width: 140px;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    font-weight: normal;
    text-align: right;

    &:first-child {
      width: auto;
      text-align: left;
      word-wrap: break-word;
    }
  }

  tfoot {
    background-color: #fafafa;

    td:first-child {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  tbody tr:hover {
    th,
    td {
      background-color: #fafafa;
    }
  }
}

.downloadAll {
  padding: 10px;
  background-color: #0061ff;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: darken(#0061ff, 5%);
  }
}
